
Python/GoogleSpeechToText/GoogleSpeechToText/credentials.json
Android/app/src/main/res/raw/credentials.json
Android/app/src/main/res/raw/credentials.json
Android/app/src/main/res/raw/credential.json
